services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: botuser
      POSTGRES_PASSWORD: 1258
      POSTGRES_DB: tesco_db
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
      - db


volumes:
  pg_data:
